body {
  background-color: #DBF9DB;
}

h1 {
  font-family: verdana;
  background-color: springgreen;
  color: white;
  text-align: center;
}

h1:hover{
  background-color: palegreen;
  color: white;
  text-align: center;
}

h2 {
  font-family: verdana;
  color: orange;
}

p {
  color: springgreen;
  font-family: verdana;
  font-size: 20px;
  font-style: italic;
}

p:hover {
  color: springgreen;
  font-family: verdana;
  font-size: 23px;
  font-style: italic;
}

a {
  background-color: springgreen;
  color: white;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: verdana;
  transition-duration: 0.2s;
  font-style: italic;
  border-radius: 8px;
}

a:hover {
  background-color: palegreen;
  color: white;
  font-style: italic;
}