body {
      background-color: #282828;
      color: #ffffff;
      font-family: Hack, monospace;
}
a.logo {
      font-size: 50px;
}
a {
      color: #ebdbb2;
}
.bar {
      color: #ebdbb2;
      background-color: #282828;
      padding: 3px;
}
h1 {
      font-size: 25px;
      color: #ebdbb2;
}
h2 {
      font-size: 20px;
      color: #ebdbb2;
}
code {
      padding: 3px;
      background-color: #1c1c1c;
      font-family: Hack, monospace;
}
img.resize {
      max-width: 20%;
      max-height: 20%;
}
