.linktext {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: verdana;
  transition-duration: 0.2s;
}

.linktext:hover {
  background-color: #EAD6FF; /* Light Purple */
  color: #8000FF;
}