ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* this is for safari, apple really sucks. dont use apple products. please. just install gnu/linux. */
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #EAD6FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 0px;
  background-color: #333;
}

li a:hover {
  background-color: #422C6E;
}

.active {
  background-color: #EAD6FF;
  color: #422C6E;
}